{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/mycapitalland.ru",
      "timeout": 10000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1585921556499.0002,
          "ctimeMs": 1585921556499.2954,
          "date": "2020-04-03T14:06:54.327Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1585921575154.585,
          "ctimeMs": 1585921575157.5867,
          "date": "2020-04-03T14:06:54.648Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1585923279548.9094,
          "ctimeMs": 1585923279548.9094,
          "date": "2020-04-03T14:19:43.210Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1585923569553.532,
          "ctimeMs": 1585923569553.532,
          "date": "2020-04-03T14:19:43.570Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1585920275687.343,
          "ctimeMs": 1585920275687.343,
          "date": "2020-04-03T14:06:56.656Z"
        },
        {
          "file": "fonts/Gilroy.eot",
          "mtimeMs": 1584747986000,
          "ctimeMs": 1584766034145.5422,
          "date": "2020-03-21T04:48:06.125Z"
        },
        {
          "file": "fonts/Gilroy.svg",
          "mtimeMs": 1584747986000,
          "ctimeMs": 1584766034145.5422,
          "date": "2020-03-21T04:48:06.719Z"
        },
        {
          "file": "fonts/Gilroy.ttf",
          "mtimeMs": 1584747986000,
          "ctimeMs": 1584766034129.916,
          "date": "2020-03-21T04:48:07.100Z"
        },
        {
          "file": "fonts/Gilroy.woff",
          "mtimeMs": 1584747986000,
          "ctimeMs": 1584766034145.5422,
          "date": "2020-03-21T04:48:07.455Z"
        },
        {
          "file": "fonts/Gilroy.woff2",
          "mtimeMs": 1584747986000,
          "ctimeMs": 1584766034145.5422,
          "date": "2020-03-21T04:48:07.831Z"
        },
        {
          "file": "fonts/GilroyBlack.eot",
          "mtimeMs": 1584748004000,
          "ctimeMs": 1584766053944.8762,
          "date": "2020-03-21T04:48:08.564Z"
        },
        {
          "file": "fonts/GilroyBlack.svg",
          "mtimeMs": 1584748004000,
          "ctimeMs": 1584766053929.2502,
          "date": "2020-03-21T04:48:09.074Z"
        },
        {
          "file": "fonts/GilroyBlack.ttf",
          "mtimeMs": 1584748004000,
          "ctimeMs": 1584766053929.2502,
          "date": "2020-03-21T04:48:09.474Z"
        },
        {
          "file": "fonts/GilroyBlack.woff",
          "mtimeMs": 1584748004000,
          "ctimeMs": 1584766053929.2502,
          "date": "2020-03-21T04:48:09.865Z"
        },
        {
          "file": "fonts/GilroyBlack.woff2",
          "mtimeMs": 1584748004000,
          "ctimeMs": 1584766053944.8762,
          "date": "2020-03-21T04:48:10.215Z"
        },
        {
          "file": "fonts/GilroyBold.eot",
          "mtimeMs": 1584748014000,
          "ctimeMs": 1584766065946.9954,
          "date": "2020-03-21T04:48:10.917Z"
        },
        {
          "file": "fonts/GilroyBold.svg",
          "mtimeMs": 1584748014000,
          "ctimeMs": 1584766065915.7246,
          "date": "2020-03-21T04:48:11.429Z"
        },
        {
          "file": "fonts/GilroyBold.ttf",
          "mtimeMs": 1584748014000,
          "ctimeMs": 1584766065900.0984,
          "date": "2020-03-21T04:48:11.824Z"
        },
        {
          "file": "fonts/GilroyBold.woff",
          "mtimeMs": 1584748014000,
          "ctimeMs": 1584766065915.7246,
          "date": "2020-03-21T04:48:12.207Z"
        },
        {
          "file": "fonts/GilroyBold.woff2",
          "mtimeMs": 1584748014000,
          "ctimeMs": 1584766065962.6018,
          "date": "2020-03-21T04:48:12.591Z"
        },
        {
          "file": "img/certs/cert-1.jpg",
          "mtimeMs": 1584765567152.3328,
          "ctimeMs": 1584765759589.095,
          "date": "2020-03-21T04:48:14.422Z"
        },
        {
          "file": "img/certs/cert-2.jpg",
          "mtimeMs": 1584765567214.8357,
          "ctimeMs": 1584765759589.095,
          "date": "2020-03-21T04:48:14.858Z"
        },
        {
          "file": "img/certs/cert-3.jpg",
          "mtimeMs": 1584765567355.468,
          "ctimeMs": 1584765759589.095,
          "date": "2020-03-21T04:48:15.268Z"
        },
        {
          "file": "img/certs/cert-4.jpg",
          "mtimeMs": 1584765567433.5957,
          "ctimeMs": 1584765759589.095,
          "date": "2020-03-21T04:48:15.676Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1584765912224.3115,
          "ctimeMs": 1584765912224.3115,
          "date": "2020-03-21T04:48:18.052Z"
        },
        {
          "file": "img/icons/footer-icons.png",
          "mtimeMs": 1584765916693.857,
          "ctimeMs": 1584765916694.8574,
          "date": "2020-03-21T04:48:18.384Z"
        },
        {
          "file": "img/icons/zoom.png",
          "mtimeMs": 1584765925387.7737,
          "ctimeMs": 1584765925388.7747,
          "date": "2020-03-21T04:48:19.041Z"
        },
        {
          "file": "img/images/collage.jpg",
          "mtimeMs": 1584765935583.184,
          "ctimeMs": 1584765935583.184,
          "date": "2020-03-21T04:48:19.911Z"
        },
        {
          "file": "img/images/yury.png",
          "mtimeMs": 1584765941715.9993,
          "ctimeMs": 1584765941718.001,
          "date": "2020-03-21T04:48:20.441Z"
        },
        {
          "file": "img/revs/rev-1.jpg",
          "mtimeMs": 1584765567813.4924,
          "ctimeMs": 1584765754307.286,
          "date": "2020-03-21T04:48:20.840Z"
        },
        {
          "file": "img/revs/rev-2.jpg",
          "mtimeMs": 1584765567813.4924,
          "ctimeMs": 1584765754307.286,
          "date": "2020-03-21T04:48:21.209Z"
        },
        {
          "file": "img/revs/rev-3.jpg",
          "mtimeMs": 1584765567875.9954,
          "ctimeMs": 1584765754307.286,
          "date": "2020-03-21T04:48:21.550Z"
        },
        {
          "file": "img/revs/rev-4.jpg",
          "mtimeMs": 1584765567922.872,
          "ctimeMs": 1584765754307.286,
          "date": "2020-03-21T04:48:21.929Z"
        },
        {
          "file": "img/revs/rev-5.jpg",
          "mtimeMs": 1584765567985.3755,
          "ctimeMs": 1584765754307.286,
          "date": "2020-03-21T04:48:22.282Z"
        },
        {
          "file": "img/revs/rev-6.jpg",
          "mtimeMs": 1584765568063.5034,
          "ctimeMs": 1584765754307.286,
          "date": "2020-03-21T04:48:22.628Z"
        },
        {
          "file": "img/revs/rev-7.jpg",
          "mtimeMs": 1584765568126.0068,
          "ctimeMs": 1584765754307.286,
          "date": "2020-03-21T04:48:22.964Z"
        },
        {
          "file": "img/revs/rev-8.jpg",
          "mtimeMs": 1584765568188.5103,
          "ctimeMs": 1584765754307.286,
          "date": "2020-03-21T04:48:23.342Z"
        },
        {
          "file": "img/revs/rev-9.jpg",
          "mtimeMs": 1584765568266.6382,
          "ctimeMs": 1584765754307.286,
          "date": "2020-03-21T04:48:23.684Z"
        },
        {
          "file": "img/icons/thanks-icons.png",
          "mtimeMs": 1584766305930.0332,
          "ctimeMs": 1584766305931.0342,
          "date": "2020-03-21T04:54:57.882Z"
        },
        {
          "file": "img/images/yury-thanks.jpg",
          "mtimeMs": 1584766239392.1985,
          "ctimeMs": 1584766239392.1985,
          "date": "2020-03-21T04:54:58.242Z"
        },
        {
          "file": "thanks/index.html",
          "mtimeMs": 1585921877045.6414,
          "ctimeMs": 1585921877045.6414,
          "date": "2020-04-03T14:06:56.972Z"
        },
        {
          "file": "fonts/GothamProBold.eot",
          "mtimeMs": 1579821916000,
          "ctimeMs": 1579839969052.7305,
          "date": "2020-03-21T12:24:43.804Z"
        },
        {
          "file": "fonts/GothamProBold.svg",
          "mtimeMs": 1579821916000,
          "ctimeMs": 1579839969052.7305,
          "date": "2020-03-21T12:24:44.294Z"
        },
        {
          "file": "fonts/GothamProBold.ttf",
          "mtimeMs": 1579821916000,
          "ctimeMs": 1579839969052.7305,
          "date": "2020-03-21T12:24:44.713Z"
        },
        {
          "file": "fonts/GothamProBold.woff",
          "mtimeMs": 1579821916000,
          "ctimeMs": 1579839969052.7305,
          "date": "2020-03-21T12:24:45.086Z"
        },
        {
          "file": "fonts/GothamProBold.woff2",
          "mtimeMs": 1579821916000,
          "ctimeMs": 1579839969052.7305,
          "date": "2020-03-21T12:24:45.416Z"
        },
        {
          "file": "img/backs/about-title.png",
          "mtimeMs": 1584765931207.766,
          "ctimeMs": 1584788833452.8743,
          "date": "2020-03-21T12:24:45.815Z"
        },
        {
          "file": "img/backs/bonuses.jpg",
          "mtimeMs": 1584765869363.63,
          "ctimeMs": 1584786955233.8286,
          "date": "2020-03-21T12:24:46.660Z"
        },
        {
          "file": "img/backs/main-thanks.jpg",
          "mtimeMs": 1584766229619.1858,
          "ctimeMs": 1584786960303.5183,
          "date": "2020-03-21T12:24:48.336Z"
        },
        {
          "file": "img/backs/main.jpg",
          "mtimeMs": 1584765878513.8953,
          "ctimeMs": 1584786958355.3586,
          "date": "2020-03-21T12:24:48.794Z"
        },
        {
          "file": "img/icons/about-1.png",
          "mtimeMs": 1584765887267.2344,
          "ctimeMs": 1584789313460.3733,
          "date": "2020-03-21T12:24:49.116Z"
        },
        {
          "file": "img/icons/about-2.png",
          "mtimeMs": 1584765890940.1873,
          "ctimeMs": 1584789298697.291,
          "date": "2020-03-21T12:24:49.451Z"
        },
        {
          "file": "img/icons/about-3.png",
          "mtimeMs": 1584765894631.183,
          "ctimeMs": 1584789300939.4084,
          "date": "2020-03-21T12:24:49.864Z"
        },
        {
          "file": "img/icons/about-5.png",
          "mtimeMs": 1584765904061.1191,
          "ctimeMs": 1584789305949.633,
          "date": "2020-03-21T12:24:51.419Z"
        },
        {
          "file": "img/icons/about-6.png",
          "mtimeMs": 1584765907730.834,
          "ctimeMs": 1584789308900.3298,
          "date": "2020-03-21T12:24:51.743Z"
        },
        {
          "file": "img/icons/tube.png",
          "mtimeMs": 1584765920805.893,
          "ctimeMs": 1584788004159.9548,
          "date": "2020-03-21T12:24:54.687Z"
        },
        {
          "file": "img/icons/about-4.png",
          "mtimeMs": 1584765899345.3618,
          "ctimeMs": 1584789303414.6035,
          "date": "2020-03-21T12:25:00.007Z"
        },
        {
          "file": "css/thanks.min.css",
          "mtimeMs": 1584812282386.6501,
          "ctimeMs": 1584812282386.6501,
          "date": "2020-03-21T17:38:27.514Z"
        },
        {
          "file": "js/thanks.min.js",
          "mtimeMs": 1584810217029.4458,
          "ctimeMs": 1584810217029.4458,
          "date": "2020-03-21T17:05:14.400Z"
        },
        {
          "file": "css/thanks-ie.min.css",
          "mtimeMs": 1584810346244.2178,
          "ctimeMs": 1584810346244.2178,
          "date": "2020-03-21T17:05:55.370Z"
        },
        {
          "file": "css/styles-ie.min.css",
          "mtimeMs": 1584810929681.3418,
          "ctimeMs": 1584810929681.3418,
          "date": "2020-03-21T17:15:35.380Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1585920630488.684,
          "ctimeMs": 1585920630488.684,
          "date": "2020-04-03T14:06:55.800Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1585920635412.0366,
          "ctimeMs": 1585920635412.0366,
          "date": "2020-04-03T14:06:56.174Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/_js/thanks.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\thanks.min.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles-ie.styl",
        "config": {
          "customOutput": "css\\styles-ie.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "_app/styl/thanks-ie.min.styl",
        "config": {
          "customOutput": "css\\thanks-ie.min.css"
        }
      },
      {
        "file": "_app/styl/thanks.styl",
        "config": {
          "customOutput": "css\\thanks.min.css"
        }
      },
      {
        "file": "_app/thanks.pug",
        "config": {
          "customOutput": "thanks\\index.html"
        }
      },
      {
        "file": "favicon.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 2479
        }
      },
      {
        "file": "img/backs/bonuses-bg.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 132205,
          "optimized": true
        }
      },
      {
        "file": "img/backs/footer-bg.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 131780,
          "optimized": true
        }
      },
      {
        "file": "img/backs/main-bg.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 257577,
          "optimized": true
        }
      },
      {
        "file": "img/backs/main-thanks-bg.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 284041,
          "optimized": true
        }
      },
      {
        "file": "img/icons/about-icon-1.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 2607,
          "optimized": true
        }
      },
      {
        "file": "img/icons/about-icon-2.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 3088,
          "optimized": true
        }
      },
      {
        "file": "img/icons/about-icon-3.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1721,
          "optimized": true
        }
      },
      {
        "file": "img/icons/about-icon-4.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 2550,
          "optimized": true
        }
      },
      {
        "file": "img/icons/about-icon-5.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1570,
          "optimized": true
        }
      },
      {
        "file": "img/icons/about-icon-6.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1461,
          "optimized": true
        }
      },
      {
        "file": "img/icons/envelope.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 607,
          "optimized": true
        }
      },
      {
        "file": "img/icons/footer-icons.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 9709,
          "optimized": true
        }
      },
      {
        "file": "img/icons/phone.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 683,
          "optimized": true
        }
      },
      {
        "file": "img/icons/thanks-icons.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 7938,
          "optimized": true
        }
      },
      {
        "file": "img/icons/zoom.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 4278,
          "optimized": true
        }
      },
      {
        "file": "img/images/about-img.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 33212,
          "optimized": true
        }
      },
      {
        "file": "img/images/collage.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 352851,
          "optimized": true
        }
      },
      {
        "file": "img/images/yury-thanks.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 54231,
          "optimized": true
        }
      },
      {
        "file": "img/images/yury.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1089439,
          "optimized": true
        }
      },
      {
        "file": "img/revs/video-1.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 58975,
          "optimized": true
        }
      },
      {
        "file": "img/revs/video-2.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 52220,
          "optimized": true
        }
      }
    ]
  }
}
