header
	a(href="/", target="_blank")
		img.header-logo(src=logo, alt="Логотип")
	.contacts
		a.contact.contact-email(href="mailto:info@mycapitalland.ru" target="_blank") info@mycapitalland.ru
		a.contact.contact-tel(href="callto:+7(968)418-63-69" target="_blank") +7(968)418-63-69
		a.contact.contact-tel(href="callto:+7(968)418-63-69" target="_blank") +7(968)418-63-69
		//- a.contact.contact-skype(href="https://join.skype.com/invite/gkwrZmJPOtuf" target="_blank")
		//- 	i.fa.fa-skype(aria-hidden="true")
		//- 	span support-mastervision