G = 'Gilroy', sans-serif;
Gd = 'GilroyBold', sans-serif;
Gk = 'GilroyBlack', sans-serif;
GPd = 'GothamProBold', sans-serif

@font-face {
	font-family: 'Gilroy';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local  url('../fonts/Gilroy.eot');
	src: url('../fonts/Gilroy.eot') format('embedded-opentype'),
		 url('../fonts/Gilroy.woff2') format('woff2'),
		 url('../fonts/Gilroy.woff') format('woff'),
		 url('../fonts/Gilroy.ttf') format('truetype'),
		 url('../fonts/Gilroy.svg#Gilroy') format('svg');
}
@font-face {
	font-family: 'GilroyBlack';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: local  url('../fonts/GilroyBlack.eot');
	src: url('../fonts/GilroyBlack.eot') format('embedded-opentype'),
		 url('../fonts/GilroyBlack.woff2') format('woff2'),
		 url('../fonts/GilroyBlack.woff') format('woff'),
		 url('../fonts/GilroyBlack.ttf') format('truetype'),
		 url('../fonts/GilroyBlack.svg#GilroyBlack') format('svg');
}
@font-face {
	font-family: 'GilroyBold';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: local  url('../fonts/GilroyBold.eot');
	src: url('../fonts/GilroyBold.eot') format('embedded-opentype'),
		 url('../fonts/GilroyBold.woff2') format('woff2'),
		 url('../fonts/GilroyBold.woff') format('woff'),
		 url('../fonts/GilroyBold.ttf') format('truetype'),
		 url('../fonts/GilroyBold.svg#GilroyBold') format('svg');
}
@font-face {
	font-family: 'GothamProBold';
	font-display: fallback;
	font-weight: bold
	font-style: normal;
	src: local  url('../fonts/GothamProBold.eot');
	src: url('../fonts/GothamProBold.eot') format('embedded-opentype'),
		 url('../fonts/GothamProBold.woff2') format('woff2'),
		 url('../fonts/GothamProBold.woff') format('woff'),
		 url('../fonts/GothamProBold.ttf') format('truetype'),
		 url('../fonts/GothamProBold.svg#GothamProBold') format('svg');
}