header
	overflow hidden
	padding 30px 0
	margin-bottom: 100px
.contacts
	// float: right
	text-align: right
.contact
	color #fff
	background-repeat no-repeat
	background-position: left center
	background-size: contain
	line-height: 20px
	&:focus
		color #fff
		text-decoration: none
	&:hover
		color #fff
		text-decoration: underline
	&-email
		padding-left: 30px
		background-image url(../img/icons/envelope.png)
	&-tel
		margin-left: 30px
		padding-left: 24px
		background-image url(../img/icons/tube.png)