.general-title
	font-weight: 900
.main-title
.main-subtitle
.main-info span
.about-title
.about-item-text span
.bonuses-title
.bonuses-subtitle
.modal-title
.alert-message
	font-weight: bold
#myPolitics .modal-title small
	font-weight: normal
.about-title:before
	left - 100px
.bonuses-subtitle
	font-size: 26px