#main
	padding  0 
	text-align: center
	color #fff
	background-color: #4B5156
	background-image url(../img/backs/main.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	.container
		position relative
.main-title
	font-size: 60px
	font-family: Gd
	text-transform uppercase
.main-subtitle
	font-size: 60px
	font-family: Gd
	margin 40px 0
.main-info
	font-size: 22px
	span
		display inline-block
		font-family: Gd
	&:last-of-type
		margin 20px 0 50px
.video-wrapper-main
	bottom:  -70px
	max-width 745px
	margin-bottom: -100px