#about
	padding 260px 0 90px
.general-title-about
	text-align: center
.about-title
	text-align: center
	text-transform uppercase
	color #950065
	font-size: 50px
	font-family: GPd
	line-height: 46px
	height 579px
	margin-top: 20px
	display flex
	align-items: center
	justify-content: center
	position relative
	&:before
		content: ''
		display: block
		position absolute
		top 0
		left calc(100% - 555px)/2
		width 555px
		height 100%
		background-image url(../img/backs/about-title.png
		)
		background-repeat no-repeat
		background-position: center
		background-size contain
		z-index -1
.about-item
	margin-bottom: 80px
	padding-top: 65px
	background-repeat no-repeat
	min-height 177px
	&:last-of-type
		margin-bottom: 0
	&-1
		background-image url(../img/icons/about-1.png)
		background-position: top right
		padding-right: 15px
		margin-right: 30px
		text-align: right
	&-2
		background-image url(../img/icons/about-2.png)
		background-position: top right
		text-align: right
		margin-right: 90px
		padding-right: 15px
	&-3
		background-image url(../img/icons/about-3.png)
		background-position: top right
		padding-right: 15px
		margin-right: 30px
		text-align: right
	&-4
		background-image url(../img/icons/about-4.png)
		background-position: top left
		padding-left: 15px
		margin-left: 30px
	&-5
		background-image url(../img/icons/about-5.png)
		background-position: top left
		margin-left: 90px
		padding-left: 15px
	&-6
		background-image url(../img/icons/about-6.png)
		background-position: top left
		padding-left: 15px
		margin-left: 30px
	&-text
		span
			font-family: Gd