footer
	padding 100px 0
	background-color: #4F5256
	background-image url(../img/backs/bonuses.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	color #fff
	font-size: 16px
.footer-soc-buttons
	img
		width 100%
		max-width 160px
		margin 0 auto
.footer-contact
	color #fff
	display: inline-block
	&:focus
		text-decoration: none
		color #fff
	&:hover
		text-decoration: underline
		color #fff
