@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.owl-item > div
		min-height 508px
	.text-rev
		height 220px
	.text-rev-double
		height 110px
@media screen and (max-width 1199px)
	.about-title:before
		width:  480px
	.about-item
		min-height 205px
		margin-bottom: 40px
	#certs
		margin 60px auto
		width 94%
	.cert-img
		height 287px
	.owl-nav
		top 126px
@media screen and (max-width 991px)
	.main-title
		font-size: 36px
	.main-subtitle
		line-height: 1
	.about-title
		display none
	.about-item
		text-align: center
		background-position: top center
		padding 65px 0 0
		margin 0 0 50px
		min-height 150px
	.author-img img
		position: static
		width 100%
		max-width 560px
		margin-bottom: 30px
	#certs
		width 90%
	.owl-nav
		width 116%
		left -8%
		top 104px
	.owl-item > div
		min-height 495px
	footer
		padding 50px 0
@media screen and (max-width 767px)
	header
		padding 15px 0
		margin-bottom: 20px
	#main
		padding 0 0 50px
	.contacts
		text-align: center
	.contact
		display: inline-block
	.main-title
		font-size: 38px
	.main-subtitle
		font-size: 32px
		margin 30px 0
	#bonuses
	#author
		padding 40px 0
	#about
		padding 40px 0 0
	#revs
		padding 0 0 40px
	.about-item
		width 100%
		max-width 480px
		margin 0 auto 40px
	.about-item:last-of-type
		margin-bottom: 40px
	.video-wrapper-rev
		margin-bottom: 25px
	footer
		text-align: center
		padding 20px 0
	.footer-contact
		display block
		margin-bottom: 5px
	.footer-soc-buttons img
		margin-top: 10px
	.checking
		max-width 430px
	.checking .check-label
		line-height: 18px
@media screen and (max-width 485px)
	#main
		padding 0 0 30px
	header
		padding 10px 0
		margin-bottom: 10px
	.contact
		font-size: 12px
		margin-left: 10px
		line-height: 14px
		padding-left: 15px
	.contact-email
		margin-left: 0
		padding-left: 20px
	.main-title
		font-size: 26px
	.main-subtitle
		font-size: 28px
		margin 10px 0 20px
	.main-text
		font-size: 20px
	.main-info:last-of-type
		margin-bottom: 30px
	.video-wrapper-main
		margin-bottom: 10px
	#bonuses
	#author
		padding 30px 0
	#about
		padding 30px 0 0
	.general-title
		font-size: 24px
		margin-bottom: 25px
	.bonuses-title
		font-size: 30px
	.bonuses-text:last-of-type
		margin-top: 20px
	.bonuses-subtitle
		font-size: 20px
	.author-text
		margin-bottom: 10px
	#certs
		margin 40px auto 20px
	.owl-theme .owl-nav [class*="owl-"]
		padding 0
		margin 0
	.cert-img
		height 270px
		margin-bottom: 10px
	.owl-item > div
		min-height 470px
	#revs
		padding 0 0 30px
	footer
		padding 15px 0
		font-size: 14px
		line-height: 1
	.footer-contact
		margin-bottom 10px
	.footer-soc-buttons img
		margin-top: 20px
	.modal-title
		font-size: 22px
		margin-bottom: 20px
	#myPolitics p
		font-size: 16px
		margin-bottom: 10px
	.button-revs
		margin 20px auto 50px
	.fancybox-content.modal
		padding 30px 20px
@media screen and (max-width 385px)
	.main-title
		font-size: 22px
	.main-subtitle
		font-size: 24px
	.main-info
	.main-text
		font-size: 18px
	.main-info:last-of-type
		margin 10px 0 25px
	.owl-item > div
		min-height 400px