@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.owl-item > div
		min-height 508px
	.text-rev
		height 220px
	.text-rev-double
		height 110px
@media screen and (max-width 1199px)
	.about-title:before
		width:  480px
	.about-item
		min-height 205px
		margin-bottom: 40px
	#certs
		margin 60px auto
		width 94%
	.cert-img
		height 287px
	.owl-nav
		top 126px
@media screen and (max-width 991px)
	.main-title
		margin-top: 40px
	.main-subtitle
		line-height: 1
	.about-title
		display none
	.about-item
		text-align: center
		background-position: top center
		padding 65px 0 0
		margin 0 0 50px
		min-height 150px
	.author-img img
		position: static
		width 100%
		max-width 560px
		margin-bottom: 30px
	#certs
		width 90%
	.owl-nav
		width 116%
		left -8%
		top 104px
	.owl-item > div
		min-height 495px
	footer
		padding 50px 0