#main
	padding  0 
	text-align: center
	color #fff
	background-color: #4B5156
	background-image url(../img/backs/main-thanks.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.main-title
	font-size: 40px
	font-family: Gd
	text-transform uppercase
	color #fff
	display: inline
	line-height: 55px
	background-color: #950064
	margin-top: 50px
.video-wrapper-main
	bottom:  -70px
	max-width 745px
	margin-bottom: -100px