section#main
	.container
		include ../0.header.pug
		h1.main-title 
			small онлайн-мастер-класс
			| Рабочие рецепты быстрого создания пассивного дохода в кризис от ТОПового инвестора
		.video-wrapper.video-wrapper-main
			iframe(src="https://youtube.com/embed/FgCv32p789Q?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
		p.main-info Даты проведения: 
			span с 21 по 23 апреля, 19:00(мск)
		p.main-info Автор: 
			span Юрий Медушенко
		+b('','хочу на мастер-класс')