section#main
	.container
		include ../0.header.pug
		h1.main-title Мой Капитал
		h2.main-subtitle инвестируй в свою Будущее
		p.main-info Даты проведения: 
			span с NN по NN месяца, 19:00(мск)
		p.main-info Автор: 
			span Юрий Медушенко
		+b('','хочу на мастер-класс')
		.video-wrapper.video-wrapper-main
			iframe(src="https://youtube.com/embed/?autoplay=1&mute=1" allowfullscreen)