section#about
	.container
		+gt('general-title-about','На мастер-классе за 3 дня:')
		.row
			.col-md-4.col-sm-4
				.about-item.about-item-1
					p.about-item-text Составим пошаговый план, как при базовой зарплате в 
						span 30 тыс рублей 
						| за несколько лет стать миллионером
				.about-item.about-item-2
					p.about-item-text Вы примите ключевые решения, которые обеспечат Ваше благосостояние на долгие годы вперед
				.about-item.about-item-3
					p.about-item-text Научимся закрывать личные финансовые цели (отпуск, машина, обучение детей и тд) 
						span не из своего кармана
			.col-md-4.col-sm-4
				h4.about-title Мой капитал
			.col-md-4.col-sm-4
				.about-item.about-item-4
					p.about-item-text Вы узнаете, как выйти на достойный пассивный доход и уволиться с нелюбимой работы
				.about-item.about-item-5
					p.about-item-text Получите список ошибок, смертельных для начинающих инвесторов
				.about-item.about-item-6
					p.about-item-text Разберем ршибки, которые совершают даже самые продвинутые инвесторы