section#bonuses
	.container
		h3.bonuses-title Бонусы:
		p.bonuses-text Доход на недвижимости до 200% годовых - конкретные примеры
		p.bonuses-text Супер-возможности 2020: создаем капитал на кризисе!
		p.bonuses-text Не будет воды, разглагольствований и поучений!
		h4.bonuses-subtitle Будет много практики, инсайтов и конкретных инструкций  “Что делать!”