section#author
	.container
		.row
			.col-md-5.col-md-push-7
				.author-img
					img(src="img/images/yury.png", alt="Юрий Медушенко")
			.col-md-7.col-md-pull-5
				+gt('','Юрий Медушенко')
				p.author-text Инвестор, коуч по сверхбыстрому созданию пассивного дохода. Эксперт №1 по Доходным домам в России. Серийный предприниматель, владелец нескольких бизнесов.
				p.author-text Финансовый эксперт телеканалов НТВ, 1 Канал, РЕН-ТВ, МИР, OTP, Моcква24 и других. Автор более 20 популярных обучающих курсов для начинающих и продвинутых  инвесторов. Спикер различных конференций. Реализует с командами различные инвестиционные проекты. Под его руководством реализовано инвест-проектов на сумму более 1,8 млрд руб.
				p.author-text Юрий постоянно проводит мастер-классы и не только разбивает устойчивые мифы и страхи относительно инвестиций, но и дает конкретные инструменты и методики создания активного и пассивного инвестиционного дохода как для успешных и богатых, так и для людей со скромным достатком.
				p.author-text Сотни людей после тренингов Юрия изменили своё отношение к достижению финансовой свободы и смогли создать свои первые или дополнительные источники пассивного дохода. Он сам постоянно развивается и учится у ведущих мировых экспертов, инвестирует в своё образование. Занимается благотворительностью и объединяет единомышленников для реализации совместных идей и целей. 
				p.author-text Миссия проекта "Мой капитал" - создать финансовую свободу каждому человеку, дать чёткое понимание принципов инвестирования и готовые проверенные инструменты для создания, приумножения и сохранения личного капитала. Создать сообщество, объединяющее активных целеустремленных людей, стремящихся к финансовой свободе. 
					br
					| 3 главных принципа компании - «Этика. Практика. Результат»
		.owl-carousel.owl-theme#certs
			for p,index in {1:'Благодарное письмо за достойный вклад в подготовку и проведение Московского областного Молодежного форума “Я - гражданин Подмосковья”',2:'Благодарность. Команда Российского Бизнес-форума выражает искреннюю признательность Юрию Медушенко',3:'Сертификат. Успешно закончил бинес-практикум “Организационная структура компании” и разработал организационную структуру для компании “МОЙ КАПИТАЛ”',4:'Диплом. За выдающийся вклад в развитие бизнес - телевидения России.'}
				div
					a(href="img/certs/cert-"+index+".jpg" data-fancybox="certs")
						img.cert-img(src="img/certs/cert-"+index+".jpg", alt="Сертификат "+ index)
					p.cert-text=p
		a(href="img/images/collage.jpg" data-fancybox="collage")
			img(src="img/images/collage.jpg", alt="Коллаж").author-collage