section#revs
	.container
		+gt('','Отзывы')
		.row
			.col-md-4.col-sm-4
				.video-wrapper.video-wrapper-rev(data-youtube="Ouf151l7mSs" data-img="img/revs/video-1.jpg")
					img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1")
			.col-md-4.col-sm-4
				.video-wrapper.video-wrapper-rev(data-youtube="Ouf151l7mSs" data-img="img/revs/video-2.jpg")
					img(src="img/revs/video-2.jpg", alt="Видео-отзыв 2")
			.col-md-4.col-sm-4
				.video-wrapper.video-wrapper-rev(data-youtube="Ouf151l7mSs" data-img="img/revs/video-3.jpg")
					img(src="img/revs/video-3.jpg", alt="Видео-отзыв 3")
		+b('button-revs','хочу на мастер-класс')
		+gt('general-title-revs','Текстовые отзывы')
		.row
			each i in [1,2,3]
				.col-md-3.col-sm-3.col-xs-6
					a.text-rev-link(href="img/revs/rev-"+i+".jpg" data-fancybox="revs")
						img(src="img/revs/rev-"+i+".jpg", alt="Текстовый отзыв ").text-rev
			.col-md-3.col-sm-3.col-xs-6
				a.text-rev-link(href="img/revs/rev-4.jpg" data-fancybox="revs")
					img(src="img/revs/rev-4.jpg", alt="Текстовый отзыв ").text-rev.text-rev-double
				a.text-rev-link(href="img/revs/rev-9.jpg" data-fancybox="revs")
					img(src="img/revs/rev-9.jpg", alt="Текстовый отзыв ").text-rev.text-rev-double
		.row
			each i in [5,6,7,8]
				.col-md-3.col-sm-3.col-xs-6
					a.text-rev-link(href="img/revs/rev-"+i+".jpg" data-fancybox="revs")
						img(src="img/revs/rev-"+i+".jpg", alt="Текстовый отзыв ").text-rev