footer
	.container
		.row
			.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
				.row
					.col-md-4.col-sm-4
						p.footer-text Элекстронная почта:
						a.footer-contact.footer-contact-email(href="mailto:info@mycapitalland.ru" target="_blank") info@mycapitalland.ru
					.col-md-4.col-sm-4
						a.footer-contact.contact-tel(href="callto:+7(968)418-63-69" target="_blank") +7(968)418-63-69
						a.footer-contact.contact-tel(href="callto:+7(968)418-63-69" target="_blank") +7(968)418-63-69
					.col-md-4.col-sm-4
						p.footer-text Москва, ул. Преображенская 24, корп. 1
			.col-md-2.col-sm-2
				.footer-soc-buttons
					img(usemap="#footer-soc-buttons" src="/img/icons/footer-icons.png")
					map(name="footer-soc-buttons")
						area(shape="rect" coords="0,0,48,46"  href="#!" target="_blank")
						area(shape="rect" coords="57,0,103,46"  href="#!!" target="_blank")
						area(shape="rect" coords="112,0,160,46"  href="#!!!" target="_blank")