section#main
	.container
		include ../0.header.pug
		h1.main-title Благодарим за регистрацию 
			br
			| Не спешите закрывать страничку
		.video-wrapper.video-wrapper-main
			iframe(src="https://youtube.com/embed/?autoplay=1&mute=1" allowfullscreen)