section#second
	.container
		.row
			.col-md-8.col-sm-8
				+gt('','Условный заголовок')
				p.second-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non perferendis eum ducimus eos aperiam quidem aut at nihil harum in ratione reprehenderit tempore corporis, libero officia saepe iure ex qui!
				p.second-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam accusantium voluptas nobis nemo quas eveniet vero. Quibusdam reiciendis labore corrupti eum aperiam explicabo tempora magnam molestias tempore, cum deserunt distinctio.
				p.second-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos numquam, ea illo sunt cum soluta debitis totam distinctio perspiciatis sint ducimus aspernatur blanditiis quibusdam at aliquid maiores atque! Tempore, asperiores.
				.second-soc-buttons
					img(usemap="#thanks-icons" src="/img/icons/thanks-icons.png")
					map(name="thanks-icons")
						area(shape="rect" coords="0,0,34,34"  href="#!" target="_blank")
						area(shape="rect" coords="43,0,75,34"  href="#!!" target="_blank")
						area(shape="rect" coords="86,0,119,34"  href="#!!!" target="_blank")
						area(shape="rect" coords="128,0,162,34"  href="#!!!!" target="_blank")
			.col-md-4.col-sm-4
				img(src="/img/images/yury-thanks.jpg", alt="Юрий Медушенко").second-img